doctype html
html(lang="en")
  head
    title Report
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous")
  body.container-sm.p-5.bg-dark
    form#reportForm
      .form-group
        label.text-white(for="description") Description
        textarea#description.form-control(aria-describedby="descriptionHelp", name="description")
      .form-group
        label.text-white(for="time") Time
        input#photos.form-control(type="datetime-local", name="time")
      .form-group
        label.text-white(for="photos") Images
        input#photos.form-control(type="file", name="photos" multiple)
      button.btn.btn-primary.my-5(type="submit") Create Report
    script.
      document.getElementById('reportForm').addEventListener('submit', async e => {
        e.preventDefault();
        
        const formData = new FormData(e.target);

        const request = await fetch('/api/v1/reports', {
          method: 'POST',
          body: formData 
        });

        const res = await request.json();

        if (request.status >= 200 && request.status < 300) {
          window.location = '/add-witness/' + res.data.id;
        }
      });
